python-dotenv
langchain
langchain-community
beautifulsoup4
langchain-text-splitters
sentence-transformers
langchain-groq
langchain-chroma
langchain-huggingface
huggingface_hub
langchain-milvus
pymilvus
pandas
ipynb
ragas
langchain-google-genai
rank-bm25
pypdf
pymupdf